<div class="col-md-12"> 
  <h1 class="mt-5">CPU Load History</h1>
  <p class="lead" *ngIf="data[0].series.length < 2">Loading...</p>
  <ngx-charts-line-chart *ngIf="data[0].series.length >= 2"
      [view]="[900, 500]"
      [scheme]="colorScheme"
      [results]="data"
      [yAxis]="true"
      [xAxis]="xAxis"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'Time'"
      [yAxisLabel]="'Load'"
      [autoScale]='true'
      (select)="onSelect($event)">
    </ngx-charts-line-chart>
</div>