<!--The content below is only a placeholder and can be replaced.-->
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">CPU Load Monitor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">
  <app-load-gauge class="row"></app-load-gauge>
  <hr />
  <app-load-history class="row"></app-load-history>
</main>

<footer class="footer">
  <div class="container">
    <span class="text-muted">Copyright &copy; 2019 Steve Pak</span>
  </div>
</footer>