<div class="col-md-12" *ngIf="messages.length"> 
  <h1 class="mt-5">Message History</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Message</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let message of messages.reverse()">
        <th scope="row">{{ message.title }}</th>
        <td>{{ message.message }}</td>
        <td>{{ message.timestamp | date:'medium'}}</td>
      </tr>
    </tbody>
  </table>
</div>